<script lang="ts">
  import Chapter from "./Chapter.svelte";

  export let url = "";
  let name = "";
  let chapters: { name: string; url: string }[] = [];

  $: if (url) getTableOfContent();

  function getTableOfContent() {
    fetch(`http://localhost:3000/books`, {
    // fetch(`https://back.papeer.lapw.at/books`, {
      method: "POST",
      body: JSON.stringify({ url }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((r) => r.json())
      .then(({ data }) => {
        name = data.name;
        chapters = data.chapters;
      });
  }
</script>

<h1>{name}</h1>
<div>
  <ol>
    {#each chapters as { name, url }}
      <Chapter {url} {name} />
    {/each}
  </ol>
</div>
