<script lang="ts">
  export let name = "";
  export let url = "";
  let show = false;
  let content = "";
  let status = "IDLE";

  $: if (url) {
    show = false;
    content = "";
  }

  function toggleContent() {
    show = !show;
    if (!content) getContent();
  }

  function getContent() {
    status = "FETCHING";
    fetch(`http://localhost:3000/books/preview`, {
    // fetch(`https://back.papeer.lapw.at/books/preview`, {
      method: "POST",
      body: JSON.stringify({ url }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((r) => r.json())
      .then((data) => {
        content = data.data.content;
      })
      .finally(() => (status = "IDLE"));
  }
</script>

<li>
  <h2>{name}</h2>

  <button on:click={() => toggleContent()}>
    {status === "IDLE" ? (show ? "⬇️" : "➡️") : "⏳"}
  </button>

  {#if show}
    <div>{@html content}</div>
  {/if}
</li>

<style>
  div {
    text-align: justify;
  }

  div :global(img) {
    display: block;
    width: 50%;
    height: auto;

    background-color: white;
  }
</style>
