<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let light: boolean = false;
</script>

<button on:click={() => dispatch("increase")}>➕</button>
<button on:click={() => dispatch("decrease")}>➖</button>
<button
  on:click={() => dispatch("toggleLight")}
>
  {light ? "🌑" : "☀️"}
</button>
