<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let status: Object = "IDLE";
  export let payload: Object = {};
  export let items: { name: string; key: string }[] = [];

  function handleSubmit() {
    status = "SUBMITTING";
    dispatch("submit", { done, payload });
  }

  function done() {
    status = "IDLE";
  }
</script>

<form>
  {#each items as { name, key }}
    <input bind:value={payload[key]} placeholder={name} />
  {/each}
  <input type="submit" on:click|preventDefault={handleSubmit} value={status === "IDLE" ? "☑️" : "⏳"} />
  <!-- {JSON.stringify(payload)} -->
</form>
