<script lang="ts">
  const items = [
    {
      name: "Home",
      href: "/",
    },
    {
      name: "Search",
      href: "search",
    },
    {
      name: "Resume",
      href: "https://lapw.at",
      target: "_blank",
    },
    {
      name: "Info",
      href: "https://info.lapw.at",
      target: "_blank",
    },
    {
      name: "Pastebin",
      href: "https://share.lapw.at",
      target: "_blank",
    },
  ];
</script>

<h1>lapwat's hub</h1>

<p>
  {#each items as { name, href, target }}
    <a {href} {target}>{name}</a>
  {/each}
</p>

<style>
  a {
    padding-right: 1em;
  }
</style>
