<script lang="ts">
  import Book from "./Book.svelte";
  import Form from "./Form.svelte";

  let url = "";
  let items = [{ name: "url", key: "url" }];
  let payload = {
    url: "",
  };
  let feeds = [
    {
      name: "Vitalik Buterin's website",
      url: "https://vitalik.ca",
    },
    {
      name: "Hashtable",
      url: "http://h16free.com/feed",
    },
    {
      name: "lapwat's blog",
      url: "https://blog.lapw.at/rss",
    },
    {
      name: "ptrk's blog",
      url: "https://ptrk.io/posts/index.xml",
    },
  ];
</script>

<ul>
  {#each feeds as { name, url }}
    <li>
      <button on:click={() => (payload.url = url)}>
        {name}
      </button>
    </li>
  {/each}
</ul>

<Form
  {items}
  {payload}
  on:submit={({ detail: { done, payload } }) => {
    url = payload.url;
    done();
  }}
/>

<Book {url} />
