<script lang="ts">
  import Form from "./Form.svelte";

  // const baseUrl = "http://localhost:3000";
  const baseUrl = "https://back.papeer.lapw.at";
  const serverlessBaseUrl = "/function";
  let sources = [] as any[];

  const forms = {
    createSource: {
      items: [
        { name: "Name", key: "name" },
        { name: "Url", key: "url" },
        { name: "Selector", key: "selector" },
      ],
      payload: { url: "" },
    },
    proposeSource: {
      items: [{ name: "Url", key: "url" }],
      payload: { url: "" },
    },
  };

  fetch(`${baseUrl}/sources`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((r) => r.json())
    .then(({ data }) => {
      sources = data;
    });

  function createSource({ done, payload }) {
    fetch(`${baseUrl}/sources`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(payload),
    })
      .then((r) => r.json())
      .then(({ data }) => {
        alert(JSON.stringify(data));
        done();
      });
  }

  function proposeSource({ done, payload }) {
    const message = `[ereadocs] Somebody wants to add ${payload.url}.`;

    fetch(`${serverlessBaseUrl}/matrix`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message }),
    })
      .then((r) => r.json())
      .then(({ data }) => {
        alert("Url successfully sent!");
        done();
      });
  }
</script>

<h1>Ereadocs</h1>

<p>
  This tool aims to give developers the ability to read documentation on their
  ereaders. Ebooks are generated once a week in EPUB and MOBI format.
</p>

<h3>Ebooks</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Chapters</th>
    <th>Words</th>
    <th>Last update</th>
    <th>Downloads</th>
  </tr>
  {#each sources as { url, name, refresh, chapters, words, epub, mobi }}
    <tr>
      <td>
        <a href={url} target="_blank">{name}</a>
      </td>
      <td>
        {chapters.length}
      </td>
      <td>
        {words}
      </td>
      <td>
        {chapters.length ? `${(7 - refresh) % 7} day(s) ago` : "tomorrow"}
        <!-- {updated} -->
      </td>
      <td>
        <a href={epub} target="_blank">EPUB</a>
        <a href={mobi} target="_blank">MOBI</a>
      </td>
    </tr>
  {/each}
</table>

<h3>Don't see your doc?</h3>

<p>Enter the url of your website below and I'll take care of it.</p>

<!-- <Form
  items={forms.createSource.items}
  payload={forms.createSource.payload}
  on:submit={({ detail: { done, payload } }) => {
    createSource({ done, payload });
    done();
  }}
/> -->
<Form
  items={forms.proposeSource.items}
  payload={forms.proposeSource.payload}
  on:submit={({ detail: { done, payload } }) => {
    proposeSource({ done, payload });
  }}
/>

<h3>Wanna build your own ebook?</h3>

<p>
  Take a look at
  <a href="https://papeer.lapw.at" target="_blank"> Papeer alpha </a>.
</p>
