<script lang="ts">
  import { Router, Link, Route } from "svelte-routing";
  import Display from "./lib/Display.svelte";
  import Sources from "./lib/Sources.svelte";
  import Read from "./lib/Read.svelte";

  export let url = "";

  // display
  let size = 1.0;
  let light = false;
</script>

<main class="container" style="font-size: {size}em">
  <Display
    {light}
    on:increase={() => (size += 0.1)}
    on:decrease={() => (size -= 0.1)}
    on:toggleLight={() =>
      (light = window.document.body.classList.toggle("light-mode"))}
  />

  <!-- <Navbar /> -->
  <Router {url}>
    <nav>
      <!-- <Link to="/">Home</Link> -->
      <!-- <Link to="read">Read</Link> -->
      <!-- <Link to="doc">Doc</Link> -->
    </nav>
    <div>
      <Route path="/" component={Sources} />
      <!-- <Route path="read" component={Read} /> -->
    </div>
  </Router>
</main>

<style>
  :global(body, body a) {
    background-color: black;
    color: white;
    text-align: justify;
  }

  :global(body.light-mode, body.light-mode a) {
    background-color: white;
    color: black;
  }

  @media screen and (min-width: 960px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
</style>
